@import url(//fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap);

#About {
padding-bottom: 0;
}

.about-container {
    max-width: 50%;
    margin-bottom:10%;
}

.about-title {
font-family: 'Mr Bedfort', cursive;
font-size: 3rem;
}

.about-text {
line-height: 1.75rem;
}

.about-signature {
float:right;
}

about-image {
width: 10px;
}

.about-sunflower {
    position:relative;
    bottom: 50px;
    margin-left: -15%;
    transform: rotate(-30deg);
}