@import url(//fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap);


#About {
padding-bottom: 0;
}

.about-container {
    max-width: 80%;
    margin:8% 5% 5%;
}

.about-title {
font-family: 'Mr Bedfort', cursive;
font-size: 3rem;
}

.about-text {
line-height: 1.75rem;
}

.about-signature {
float:right;
}


about-image {
width: 10px;
}

.about-sunflower {
    position:relative;
    bottom: 50px;
    margin-left: -15%;
    transform: rotate(-30deg);
}

.profile-container {
padding-right: 12%;
padding-bottom: 10%;
}

.background-image {
background-size: cover;
}