.contact-container {
    margin-top:5%;
text-align:center;
padding: 6% 10% 10%;
}

.feature-title {
    margin-top: 5%;
    font-family: 'Libre Franklin', sans-serif;
}

.feature-text {
line-height:1,5rem;
}

.row-contact {
margin: 0;
}