.work-title {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    padding-top: 5%;
}

.resume-container {
padding: 0% 12%;
}

.text-dark {
    text-align: left;
}

hr {
    margin: 3% auto;
    border: 8px dotted #808080;
    border-bottom: none;
    width: 3%;
}