.skills-title {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    padding-top: 5%;
}

.progress-bar {
    background-color: pink;
}

.progress-container {
padding: 0% 15% 5%;
}
