@import url(//fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap);

.skills-title {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    padding-top: 5%;
}

.progress-bar {
    background-color: pink;
}

.progress-container {
padding: 1% 15% 5%;
}

.progress-title {
    font-family: 'Heebo', sans-serif;
 
}

/*.skills-container {
    background-color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}*/