@import url(//fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap);
@import url(//fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap);

.contact-container {
margin-top:5%;
text-align:center;
padding: 6% 10% 0%;
}

.feature-title {
    margin-top: 5%;
    font-family: 'Libre Franklin', sans-serif;
}

.feature-text {
    font-family: 'Heebo', sans-serif;
    line-height: 1,5rem;
}

.row-contact {
margin: 0;
}

.repos {
    font-family: 'Heebo', sans-serif;
    text-align: center;
}