@import url(//fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap);

.work-title {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    padding-top: 5%;
}

.resume-container {
padding: 0% 12%;

}

.resume-title {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

.text-dark {
    text-align: left;
}

hr {
    margin: 3% auto;
    border: 8px dotted #808080;
    border-bottom: none;
    width: 3%;
}

/*.work-column {*/
/*background-color:white;
border-top: 1px solid grey;
border-bottom: 1px solid grey;
padding-bottom: 2%*/


/*}*/